<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.onedaythink.haruchat.mapper.HaruChatMapper">

    <!--하루봇 전체 조회-->
    <select id="selectHaruBot" resultType="HaruChat">
        SELECT *
        FROM haru_tb
        <!--   WHERE haru_no >= (SELECT FLOOR(MAX(haru_no) * RAND()) FROM haru_tb)
           LIMIT 4-->
    </select>

    <!--하루봇 개별 조회-->
    <select id="selectHaruBotByHaruNo" parameterType="HaruChat" resultType="HaruChat">
        SELECT *
        FROM haru_tb
        WHERE haru_no = #{haruNo}
    </select>

    <!--하루봇 채팅방 생성-->
    <insert id="insertHaruChatRoom" parameterType="SelectedHaruInfo">
        INSERT INTO haru_chat_room_tb (user_no, sub_no, create_at)
        VALUES (#{userNo}, #{subNo}, #{createAt})
    </insert>

    <!--회원별 가장 최근 생성 채팅방 조회-->
    <select id="selectRecentHaruChatRoomByUserNo" parameterType="HaruChatRoom" resultType="HaruChatRoom">
        SELECT *
        FROM haru_chat_room_tb
        ORDER BY create_at DESC
            LIMIT 1;
    </select>

    <!-- 하루봇 채팅방 입장시 하루봇들 의견 저장-->
    <update id="insertSelectedHaruOpinion" parameterType="HaruChatMessage">
        INSERT INTO haru_chat_room_haru_tb (chat_room_no, haru_no, haru_opinion)
        VALUES (#{chatRoomNo}, #{chatSendHaruNo}, #{chatMsgContent})
    </update>

    <!-- 채팅방 내 하루봇 의견 조회-->
    <select id="selectHaruOpinion" parameterType="HaruChatRoomDetail" resultType="String">
        SELECT haru_opinion
        FROM haru_chat_room_haru_tb
        WHERE haru_no = #{haruNo}
          AND chat_room_no = #{chatRoomNo}
    </select>

    <!-- 하루 채팅방 회원별 조회: 채팅방 정보, 마지막 메시지-->
    <select id="selectHaruChatRoomsByUserNo" parameterType="HaruChatRoomDetail" resultType="HaruChatRoomDetail">
        SELECT hcr.chat_room_no, hcr.create_at,
               COALESCE(chat_send_user_no, 0) AS user_no,
               COALESCE(chat_send_haru_no, 0) AS haru_no,
               hcm.chat_msg_content AS last_message
        FROM haru_chat_room_tb as hcr
                 LEFT JOIN haru_chat_message_tb as hcm
                           ON hcm.chat_room_no = hcr.chat_room_no
        WHERE user_no = #{userNo}
        AND hcr.is_close = 'n'
        AND hcm.chat_create_at = (
            SELECT MAX(chat_create_at)
            FROM haru_chat_message_tb
            WHERE chat_room_no = hcr.chat_room_no)
        ORDER BY hcr.create_at DESC
    </select>

    <!-- 하루 채팅방 메세지 생성-->
    <insert id="insertHaruChatMsg" parameterType="HaruChatMessage">
        INSERT INTO haru_chat_message_tb (`chat_room_no` , `chat_msg_content`
        <if test="chatSendUserNo !=0">,`chat_send_user_no`</if>
        <if test="chatSendUserNo ==0">, `chat_send_haru_no`</if>
        , `chat_create_at`) VALUES (#{chatRoomNo},#{chatMsgContent}
        <if test="chatSendUserNo !=0">,#{chatSendUserNo}</if>
        <if test="chatSendUserNo ==0">, #{chatSendHaruNo}</if>
        , #{createAt}
        )
    </insert>

    <!-- 하루 채팅방 마지막 메세지 조회-->
    <select id="selectLastMessage" parameterType="HaruChatRoom" resultType="HaruChatMessage">
        SELECT chat_send_user_no, chat_msg_content, chat_create_at
        FROM haru_chat_message_tb
        WHERE chat_room_no = #{chatRoomNo}
        ORDER BY chat_create_at DESC
            LIMIT 1
    </select>

    <!-- 하루 채팅방 직전 대화 7개 조회-->
    <select id="selectPreviousMsg" parameterType="HaruChatRoom" resultType="CurrentMsg">
        SELECT chat_msg_no, chat_send_user_no, chat_send_haru_no, chat_msg_content, to_haru_no, haru_name
        FROM haru_chat_message_tb
                 LEFT JOIN haru_tb
                           ON chat_send_haru_no = haru_no
        WHERE chat_room_no = #{chatRoomNo}
        ORDER BY chat_msg_no DESC
            LIMIT 7;
    </select>

    <!-- 하루 채팅방 내부 이전 대화기록 모두 조회-->
    <select id="selectAllMsgByChatRoomNo" parameterType="HaruChatRoom" resultType="HaruChatMessageDetail">
        SELECT chat_msg_no, chat_msg_content, chat_create_at,
               COALESCE(chat_send_user_no, 0) AS chat_send_user_no,
               COALESCE(chat_send_haru_no, 0) AS chat_send_haru_no
        FROM haru_chat_message_tb
        WHERE chat_room_no = #{chatRoomNo}
    </select>

    <!-- 하루 채팅방 나가기 -->
    <update id="updateHaruChatRoomClosed" parameterType="HaruChatRoom">
        UPDATE haru_chat_room_tb
        SET is_close='y'
        WHERE chat_room_no = #{chatRoomNo}
    </update>

    <!-- 채빙탕 입장 시 해당 채팅방에 속해 있는 하루 정보에 대한 조회 -->
    <select id="selectSelectedChar" parameterType="SelectedChar" resultType="SelectedChar">
        select *
        from haru_chat_room_haru_tb as hcrh
        join haru_tb as h on hcrh.haru_no = h.haru_no
        where chat_room_no = #{chatRoomNo}
    </select>

</mapper>