<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.onedaythink.subject.mapper.SubjectMapper">

    <insert id="insertSubject" parameterType="Subject">
        INSERT INTO `SUBJECT_TB` (`content`)
        VALUES (#{content})
    </insert>

    <select id="selectSubjects" resultType="Subject">
        SELECT *
        FROM `SUBJECT_TB`
    </select>

    <select id="selectSubject" parameterType="Subject" resultType="Subject">
        SELECT *
        FROM `SUBJECT_TB`
        WHERE sub_date = #{subDate}
    </select>

    <select id="selectNullSubDate" resultType="Subject">
        select sub_no
        from `SUBJECT_tb`
        where sub_date = null
    </select>

    <update id="updateSubDate" parameterType="SubDate">
        update subject_tb
        set sub_date = #{sub_date}
        where sub_no = #{subNo}
    </update>
</mapper>