<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.onedaythink.subject.mapper.SubjectMapper">

    <insert id="insertSubject" parameterType="Subject">
        INSERT INTO subject_tb (content)
        VALUES (#{content})
    </insert>

    <select id="selectSubject" resultType="Subject">
        SELECT *
        FROM subject_tb
        WHERE withdraw = 'n'
    </select>

    <update id="updateSubjectDate" parameterType="Subject">
        UPDATE subject_tb
        SET sub_date = IFNULL(sub_date,NOW())
        WHERE sub_no = #{subNo}
    </update>

    <select id="selectRandomSubject" parameterType="Subject" resultType="Subject">
        SELECT *
        FROM subject_tb
        WHERE sub_date = #{subDate}
        <if test="subDate == null or subDate ==''">
        OR sub_no >= (SELECT FLOOR(MAX(sub_no) * RAND()) FROM subject_tb)
        ORDER BY RAND() LIMIT 1 </if>
    </select>

    <update id="deleteSubject" parameterType="Subject">
        UPDATE subject_tb
        SET withdraw = 'y'
        WHERE sub_no = #{subNo}
    </update>


</mapper>