<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.onedaythink.user.mapper.UserMapper">

    <select id="selectListUsers" parameterType="User" resultType="User">
        select *
        from user_tb
        where status = 'n';
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user_tb (`user_id`, `user_pwd`, `gender`, `birth`, `user_name`, `nickname`
         <if test='email != null and email != ""'>, email</if>
        <if test='userImg != null and userImg != ""'>, user_img</if>
        <if test='userType != null and userType != ""'>, user_type</if>
        ) values
        (#{userId}, #{userPwd}, #{gender}, #{birth}, #{userName}, #{nickname}
        <if test='email != null and email != ""'>, #{email}</if>
        <if test='userImg != null and userImg != ""'>, #{userImg}</if>
        <if test='userType != null and userType != ""'>, #{userType}</if>
        )
    </insert>

</mapper>