<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- data 가 없을 경우, null 로 처리하는 설정 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- log4j 와 mybatis 를 연동해서 실행되는 쿼리에 대한
                결과를 log4j2 에 의해 로그로 출력해주는 설정 -->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>       
        <typeAlias type="com.spring.onedaythink.user.vo.User" alias="user" />
        
    </typeAliases>

</configuration>